/* buttons */

.button {
    font-family: "Times", serif;
    font-size: 16px;
    letter-spacing: -0.6%;
    border-radius: 99px;
    padding: 4px 8px;
    border: 0.25px dashed ;
    border-color: var(--main-color);   
    color: var(--main-color);
    background-color:#fffdfb00;
}

.button:hover {
    border: 0.25px solid ;
}

.button.white {
    border: 0.25px dashed ;
    color: white;
    background-color: #fffdfb00;
    border-color: white;   
}

/* containers */

.container {
    padding: 24px;    
    position: relative;
    box-sizing: border-box;
}

.footer {
    padding: 0px 24px 24px 24px;
    position: relative;
    box-sizing: border-box;
}

/* sizing */

.h100 {
    height: 100%;
    object-fit: cover;
}

/* dividers */

hr { 
    border-bottom: 0.25px dashed ;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin: 40px 0px;
    border-color: var(--main-color);
}

br {
    display: inline;
    content: "";
}

/* */

    .journal-entry {
            display: flex;
            flex-direction: row;
            gap: 32px;
        }

      .two-columns {
            display: flex;
            align-items: flex-start;
            height: 100vh;
            overflow: hidden;
        }

        .right-panel, .left-panel {
            width: 50%;
            overflow-y: scroll;
            height: 100%;
        }



        
/* text styles */

body {
    font-family: "Times", serif;
    letter-spacing: -0.6%;
    background-color: #fffdfb;
    margin: 0;
    color: var(--main-color);
}

h1, h2, h3, h4, h5 {
    font-family: "Helvetica", sans-serif;
    letter-spacing: -1%;
    line-height: 120%;
    }

.sans {
    font-family: "Helvetica", sans-serif;
    letter-spacing: -1%; 
}

.card {
    color: var(--main-color);
    text-decoration: none;
}


.eyebrow {
    color: var(--main-secondary) ;
}

.w50 {
    width: 100%;
    max-width: 800px;
}

.w25 {
    width: 25%;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* elements */

.badge {
    padding: 4px 6px;
    border-radius: 99px;
    border: var(--main-color) solid 1px;
}

.badge p {
    margin: 0px;
}

.big-badge {
    padding: 16px 32px;
    background-color: var(--main-color);
    border-radius: 999px;
    font-size: 36px;
    color: white;
    line-height: 48px;
}


/* layouts */

.grid {
    display: grid;
}

.flex-h {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-h-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* gaps */

.g0 {
    gap: 0px;
}

.g8 {
    gap: 8px;
}

.g16 {
    gap: 16px;
}

.g24 {
    gap: 24px;
}

.g32 {
    gap: 32px;
}

/* columns */

.c2 {
    grid-template-columns: repeat(2, 1fr);
}

.c3 {
    grid-template-columns: repeat(3, 1fr);
}

.c4 {
    grid-template-columns: repeat(4, 1fr);
}

.c6 {
    grid-template-columns: repeat(6, 1fr);
}

/* spacing */

.m0 {
    margin: 0px;
}

.mt8 {
    margin-top: 8px;
}

.mt24 {
    margin-top: 24px;
}

img {
    width: 100%;
    height: auto;
}

/* tables */

td {
  vertical-align: top;
  padding-left: 0px;
  padding-bottom: 8px;
}


@media (max-width: 640px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .w50 {
    width: 100%;
    }

    .w25 {
        width: 100%;
        max-width: 800px;
    }

    .big-badge {
        font-size: 24px;
        line-height: 24px;
    }

}

@media (max-width: 1024px) {
    .c4 {
    grid-template-columns: repeat(2, 1fr);
    }

    .w50 {
    width: 100%;
    }

    .w25 {
        width: 50%;
    }
}

@media (max-width: 1280px) {
}